#!/bin/sh

export PM_API_TOKEN_ID="xxx"
export PM_API_TOKEN_SECRET="xxx"
export PM_HTTP_HEADERS="CF-Access-Client-Id,xxx,CF-Access-Client-Secret,xxx" # e.g. Key,Value,Key1,Value1
export TF_VAR_root_pw="" # Terraform で要求される "root_pw"
