- hosts: proxmox
  become: yes
  vars:
    lxc_vm_id: 100

  tasks:
    - name: Create the list
      set_fact:
        lxc_vm_id_list: "{{ lxc_vm_id.split(',') }}"

    - name: Pull Script
      ansible.builtin.shell:
        cmd: curl https://raw.githubusercontent.com/shimosyan/raspberry-pi-cluster/master/ansible/lxc_setup.sh?$(date +%s) > ~/lxc_setup.sh

    - name: Pull Container Script
      ansible.builtin.shell:
        cmd: curl https://raw.githubusercontent.com/shimosyan/raspberry-pi-cluster/master/kubernetes/setup.sh?$(date +%s) > ~/setup.sh

    - name: Grand Permission to Script
      ansible.builtin.shell:
        cmd: chmod +x ~/lxc_setup.sh

    - name: Run Script
      ansible.builtin.shell:
        cmd: sh ~/lxc_setup.sh {{ item }}
      register: return_from_shell # 実行結果を ansible 変数に入れる
      loop: '{{ lxc_vm_id_list }}'

    - name: Show Script Result
      debug:
        msg: "{{ return_from_shell.stdout }}" # .stdout に標準出力の結果が入っている
