- hosts: proxmox
  become: yes
  vars:
    vm_id: 100
  tasks:
    - name: Pull Script
      ansible.builtin.shell:
        cmd: curl https://raw.githubusercontent.com/shimosyan/raspberry-pi-cluster/master/ansible/modify_lxc.sh?$(date +%s) > ~/modify_lxc.sh

    - name: Grand Permission to Script
      ansible.builtin.shell:
        cmd: chmod +x ~/modify_lxc.sh

    - name: Run Script
      ansible.builtin.shell:
        cmd: sh ~/modify_lxc.sh {{vm_id}}
