- hosts: proxmox
  become: yes
  vars:
    k8s_lxc_vm_id: 100
  tasks:
    - name: Pull Script
      ansible.builtin.shell:
        cmd: curl https://raw.githubusercontent.com/shimosyan/raspberry-pi-cluster/master/ansible/k8s_lxc_setup.sh?$(date +%s) > ~/k8s_lxc_setup.sh

    - name: Pull Container Script
      ansible.builtin.shell:
        cmd: curl https://raw.githubusercontent.com/shimosyan/raspberry-pi-cluster/master/kubernetes/setup.sh?$(date +%s) > ~/setup.sh

    - name: Grand Permission to Script
      ansible.builtin.shell:
        cmd: chmod +x ~/k8s_lxc_setup.sh

    - name: Run Script
      ansible.builtin.shell:
        cmd: sh ~/k8s_lxc_setup.sh {{k8s_lxc_vm_id}}
      register: return_from_shell # 実行結果を ansible 変数に入れる

    - name: Show Script Result
      debug:
        msg: "{{ return_from_shell.stdout }}" # .stdout に標準出力の結果が入っている
