name: Pull Request

on:
  pull_request:
    branches:
      - main
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}  # デプロイしないため PR レベルの排他制御
  cancel-in-progress: true # PR の更新があった場合は前のジョブをキャンセルする

permissions: {}

jobs:
  success:
    needs:
      - document-test
      - update-aqua-checksums
      - terraform-plan
    runs-on: ubuntu-latest
    permissions: {}

    if: failure()
    steps:
      - run: exit 1

  document-test:
    uses: ./.github/workflows/wc-document-pull-request.yaml
    secrets:
      gh_app_id: ${{secrets.APP_ID}}
      gh_app_private_key: ${{secrets.PRIVATE_KEY}}
    permissions:
      id-token: write
      contents: read
      pull-requests: write

  update-aqua-checksums:
    uses: ./.github/workflows/wc-update-aqua-checksums.yaml
    secrets:
      gh_app_id: ${{secrets.APP_ID}}
      gh_app_private_key: ${{secrets.PRIVATE_KEY}}
    permissions:
      id-token: write
      contents: read
      pull-requests: write

  terraform-plan:
    uses: ./.github/workflows/wc-terraform-pull-request.yaml
    secrets:
      gh_app_id: ${{secrets.APP_ID}}
      gh_app_private_key: ${{secrets.PRIVATE_KEY}}
      CF_ACCESS_CLIENT_ID: ${{secrets.CF_ACCESS_CLIENT_ID}}
      CF_ACCESS_CLIENT_SECRET: ${{secrets.CF_ACCESS_CLIENT_SECRET}}
      DEFAULT_ROOT_PW: ${{secrets.DEFAULT_ROOT_PW}}
      PM_READONLY_API_TOKEN_ID: ${{secrets.PM_READONLY_API_TOKEN_ID}}
      PM_READONLY_API_TOKEN_SECRET: ${{secrets.PM_READONLY_API_TOKEN_SECRET}}
      PM_WRITABLE_API_TOKEN_ID: ${{secrets.PM_WRITABLE_API_TOKEN_ID}}
      PM_WRITABLE_API_TOKEN_SECRET: ${{secrets.PM_WRITABLE_API_TOKEN_SECRET}}
    permissions:
      id-token: write
      contents: read
      pull-requests: write
