name: Proxmox Deploy
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/terraform**
      - proxmox/**

concurrency:
  group: terraform-deploy # デプロイ先が1つしかないため repo 内で排他制御
  cancel-in-progress: false

permissions:
  id-token: write
  contents: read
  pull-requests: write
  actions: read # artifact を取得するために必要

jobs:
  terraform-apply:
    environment: main
    runs-on: ubuntu-latest

    env:
      PM_HTTP_HEADERS: CF-Access-Client-Id,${{ secrets.CF_ACCESS_CLIENT_ID }},CF-Access-Client-Secret,${{ secrets.CF_ACCESS_CLIENT_SECRET }}
      TFACTION_TARGET: proxmox
      TFACTION_WORKING_DIR: proxmox
      TFACTION_JOB_TYPE: terraform
      TFACTION_IS_APPLY: "true"

    outputs:
      lxc_vm_list: ${{ steps.extract.outputs.lxc_vm_list }}

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - id: app-token
        uses: actions/create-github-app-token@a8d616148505b5069dccd32f177bb87d7f39123b # v2.1.1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - uses: aquaproj/aqua-installer@d1fe50798dbadd4eb5b98957290ca175f6b4870f # v4.0.2
        with:
          aqua_version: v2.53.9
        env:
          AQUA_GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      # GitHub Secrets を TFAction に渡す Action
      - uses: suzuki-shunsuke/tfaction/js@80af9c060a3870868c12c31a674e9d8b26278118 # v1.19.1
        with:
          action: export-secrets
          secrets: ${{ toJSON(secrets) }}

      - run: tfaction get-or-create-drift-issue
        # CHECK: You can remove this step if you don't use drift detection
        shell: bash
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      # terraform init などの準備を行う Action
      - uses: suzuki-shunsuke/tfaction/setup@80af9c060a3870868c12c31a674e9d8b26278118 # v1.19.1
        with:
          github_token: ${{ steps.app-token.outputs.token }}
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      # terraform apply を実行する Action
      - uses: suzuki-shunsuke/tfaction/apply@80af9c060a3870868c12c31a674e9d8b26278118 # v1.19.1
        id: deploy
        with:
          github_token: ${{ steps.app-token.outputs.token }}
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      # Terraform Apply の出力から proxmox_lxc.k8s が Create されたログを抽出して、ログから LXC の VM ID と terraform の Resource ID を抽出し複数の場合はカンマ区切りに整形する
      - name: Extract Created LXC VM ID
        id: extract
        env:
          DEPLOY_RESULT: "${{ steps.deploy.outputs.stdout }}" # terraform deploy の出力を変数に入れる
        run: |
          EXTRACT_RESULT=$(echo "$DEPLOY_RESULT" | grep -E 'proxmox_lxc\..+?: Creation complete after .+? \[id=.+?\]' || true)

          echo "$EXTRACT_RESULT"
          echo ""

          if [ ! -z "$EXTRACT_RESULT" ]; then
            LXC_VM_ID_RES_ID=$(echo "$EXTRACT_RESULT" | sed -e 's/^proxmox_lxc\.\([a-zA-Z0-9_-]\+\).\+\[id=.\+\/lxc\/\([0-9]\+\)\].*$/\2:\1/gi' )

            # e.g 100:sample1,102:sample2
            LXC_VM_LIST=$(echo "$LXC_VM_ID_RES_ID" |  tr '\n' ',' |  sed -e 's/,$/\n/g')
            echo -n "New LXC VM List = $LXC_VM_LIST"

            echo "lxc_vm_list=$(echo -n "$LXC_VM_LIST")" >> "$GITHUB_OUTPUT"
            exit 0;
          fi

          echo "No new lxc."

      - uses: suzuki-shunsuke/tfaction/create-follow-up-pr@80af9c060a3870868c12c31a674e9d8b26278118 # v1.19.1
        if: failure()
        with:
          github_token: ${{ steps.app-token.outputs.token }}

      - uses: suzuki-shunsuke/tfaction/update-drift-issue@80af9c060a3870868c12c31a674e9d8b26278118 # v1.19.1
        # CHECK: You can remove this step if you don't use drift detection
        if: always()
        with:
          status: ${{job.status}}
          github_token: ${{ steps.app-token.outputs.token }}

  # Extract Create LXC で出力した lxc_vm_list に登録されているときだけ実行する
  ansible-for-proxmox-lxc:
    needs: terraform-apply # job.terraform-apply に依存するようにする
    if: needs.terraform-apply.outputs.lxc_vm_list != ''
    runs-on: [self-hosted, proxmox-ansible]

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Get Script List
        run: |
          HOST_FILE=$(ls -F ./host  | grep -v / | sed "s/*//g")
          CONTAINER_FILE=$(ls -F ./container  | grep -v / | sed "s/*//g")

          HOST_FILE_LIST=$(echo "$HOST_FILE" |  tr '\n' ',' |  sed -e 's/,$/\n/g')
          CONTAINER_FILE_LIST=$(echo "$CONTAINER_FILE" |  tr '\n' ',' |  sed -e 's/,$/\n/g')

          echo -n "HOST_FILE_LIST = $HOST_FILE_LIST"
          echo -n "CONTAINER_FILE_LIST = $CONTAINER_FILE_LIST"

          echo "HOST_FILE_LIST=$HOST_FILE_LIST" >> $GITHUB_ENV
          echo "CONTAINER_FILE_LIST=$CONTAINER_FILE_LIST" >> $GITHUB_ENV

        working-directory: scripts/lxc

      - name: Run Playbook
        run: |
          ansible-playbook playbook-proxmox-lxc.yaml --extra-vars 'lxc_vm_id="${{ env.LXC_VM_LIST }}" host_script_file="${{ env.HOST_FILE_LIST }}" container_script_file="${{ env.CONTAINER_FILE_LIST }}"'
        working-directory: ansible
        env:
          LXC_VM_LIST: ${{needs.terraform-apply.outputs.lxc_vm_list}}
