name: test
on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.19'
          check-latest: true

      - name: Provider Install
        run: |
          git clone https://github.com/shimosyan/terraform-provider-proxmox.git
          ls -al
          cd terraform-provider-proxmox
          ls -al
          go install github.com/Telmate/terraform-provider-proxmox/cmd/terraform-provider-proxmox
          ls -al
        env:
          GO111MODULE: 'on'


