name: test
on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      PM_API_TOKEN_ID: ${{ secrets.PM_API_TOKEN_ID }}
      PM_API_TOKEN_SECRET: ${{ secrets.PM_API_TOKEN_SECRET }}
      PM_HTTP_HEADERS: CF-Access-Client-Id,${{ secrets.CF_ACCESS_CLIENT_ID }},CF-Access-Client-Secret,${{ secrets.CF_ACCESS_CLIENT_SECRET }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.3.4

      - name: Proxmox Terraform Init
        run: terraform init
        working-directory: ./proxmox

      - name: Proxmox Terraform Format
        id: fmt
        run: terraform fmt -recursive -check
        working-directory: ./proxmox

      - name: Proxmox Terraform Plan
        id: plan
        run: terraform plan -parallelism=1 -no-color -input=false
        working-directory: ./proxmox
