name: Terraform Pull Request

on:
  workflow_call:
    secrets:
      APP_ID:
        required: true
      PRIVATE_KEY:
        required: true
      CF_ACCESS_CLIENT_ID:
        required: true
      CF_ACCESS_CLIENT_SECRET:
        required: true
      DEFAULT_ROOT_PW:
        required: true
      PM_READONLY_API_TOKEN_ID:
        required: true
      PM_READONLY_API_TOKEN_SECRET:
        required: true
      PM_WRITABLE_API_TOKEN_ID:
        required: true
      PM_WRITABLE_API_TOKEN_SECRET:
        required: true

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  path-filter:
    # Get changed files to filter jobs
    timeout-minutes: 10
    outputs:
      test-files: ${{steps.changes.outputs.test-files}}
    runs-on: ubuntu-latest
    steps:
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            test-files:
              - .github/workflows/pull-request.yaml
              - .github/workflows/terraform**
              - .github/workflows/wc-terraform**
              - tfaction-root.yaml
              - proxmox/**
              - aqua.yaml

  terraform-plan:
    needs: path-filter
    if: needs.path-filter.outputs.test-files == 'true'
    runs-on: ubuntu-latest

    env:
      PM_HTTP_HEADERS: CF-Access-Client-Id,${{ secrets.CF_ACCESS_CLIENT_ID }},CF-Access-Client-Secret,${{ secrets.CF_ACCESS_CLIENT_SECRET }}
      TFACTION_TARGET: proxmox
      TFACTION_WORKING_DIR: proxmox
      TFACTION_JOB_TYPE: terraform

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - id: app-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - uses: aquaproj/aqua-installer@ea518c135a02fc11ff8024364510c181a5c6b342 # v4.0.3
        with:
          aqua_version: v2.53.11
        env:
          AQUA_GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      - run: github-comment exec -- github-comment hide
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      # GitHub Secrets を TFAction に渡す Action
      - uses: suzuki-shunsuke/tfaction/js@bf4e4fed5bfc227b0987bfb7a7de167a18158f74 # v1.19.3
        with:
          action: export-secrets
          secrets: ${{ toJSON(secrets) }}

      # terraform init などの準備を行う Action
      - uses: suzuki-shunsuke/tfaction/setup@bf4e4fed5bfc227b0987bfb7a7de167a18158f74 # v1.19.3
        with:
          github_token: ${{ steps.app-token.outputs.token }}
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      # terraform fmt 等を実行する Action
      - uses: suzuki-shunsuke/tfaction/test@bf4e4fed5bfc227b0987bfb7a7de167a18158f74 # v1.19.3
        with:
          github_token: ${{ steps.app-token.outputs.token }}
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      # terraform plan を実行する Action
      - uses: suzuki-shunsuke/tfaction/plan@bf4e4fed5bfc227b0987bfb7a7de167a18158f74 # v1.19.3
        with:
          github_token: ${{ steps.app-token.outputs.token }}
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
